 table {
    border-collapse: collapse;
    width: 100%; /* Adjust the width based on your requirement */
    margin: 0 auto;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
  }
  
  .qat th {
    background-color: #daefef;
  }

  .QAT2 {
    color: #035a5a;
    text-align: center;
    margin-bottom: 20px; /* Add margin-bottom to create space between heading and table */
  }
  