/* Faculty Form Styles */

.FFF2 {
    text-align: center;
    color: #f3f2f4;
    background-color: #035a5a;
    padding: 10px;
}



form.FFF {
    max-width: 1000px; /* Increased max-width */
    margin: 0 auto;
    border: 1px solid #181818;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;

}

label {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px; /* Increased margin-bottom for more space */
}

label {
    margin-right: 24px; /* Adjusted the space between the label and input */
}

input {
    width: 50%;
    padding: 8px;
    box-sizing: border-box;
}

.button-container {
    text-align: center;
}

button {
    background-color: #035a5a;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
}

button:hover {
    background-color: #25221f;
}

.form-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Optional: Adjust margin/padding as needed */
    margin-bottom: 10px; /* Example margin */
  }
  
  .inp1 {
    /* Align input container to the right */
    display: flex;
    justify-content: flex-end;
    /* Optional: Adjust width as needed */
    width: 50%; /* Example width */
  }

  .inp1 input{
    width: 300px;
  }