.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
  /* padding: 0.5rem; */
  transition: all 0.1s ease-in;
  z-index: 1000;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.header-container.scrolled {
  padding: 0.5rem 1rem;
  transition: all 0.1s ease-in;
}

.logo{  
  width: 10rem;
  height: auto;
  transition: width 0.3s ease;
}

.header-container.scrolled .logo {
  width: 6rem;
   /* align-self: left; */
}

.header-text {
  flex: 1;
  text-align: center;
  /* order: 3; */
  transition: opacity 0.3s ease;
}
.ragging{
  text-align: right;
  background-color: #55b2e7;
  color: white;
}
.header-container.scrolled .header-text h1 {
  font-size: 1.4rem;
}

.header-container.scrolled .header-text h5 {
  display: none;
}

.header-container.scrolled .header-text h6 {
  display: none;
}

.university-name {

  font-size: 1.25rem;
  /* margin: 0; */
}

.dmc-title{
  padding-top:  25px;
  font-size: large;
  margin: 0;
}

.location {
  font-size: 1.2rem;
  margin: 10px 0;
}
@media screen and (min-width: 767px) and (max-width: 1010px) {
  .header-container.scrolled .header-text h1 {
    font-size: 1.15rem;
  }
  
}
@media (max-width: 767px) {
  .header-container {
    flex-direction: column;
    text-align: center;
  }
  .university-name {
    font-size: 1rem;
    margin: 0;
  }
  .location {
    font-size: 0.7rem;
    margin: 5px 0;
  }
  .logo {
    width: 4rem;
    flex-direction: column;
  }
  .header-text{
    order:3;
  }

  .header-container.scrolled .logo {
    width: 3rem;
  }

  .header-container.scrolled .header-text h1 {
    font-size: 0.7rem;
  }
}
@media (max-width: 449px){
  .header-container.scrolled .header-text h1 {
    font-size: 0.55rem;
  }
}
