/* FeedbackForm.css */

/* Center-align and style the form heading */
.form {
    text-align: center;
    color: #f3f2f4;
    background-color: #035a5a;
    padding: 10px; /* Increased padding for better visibility */
  }
  
  /* Increase the width and height of the feedback type dropdown menu */
  .feedback-type select {
    width: 350px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
  }
  
  /* Change the background and text color of dropdown options on hover */
  .feedback-type select option:hover {
    background-color: #035a5a; /* Change the background color on hover */
    color: white; /* Change the text color on hover */
  }

  .form-label select {
    width: 350px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
  }
  
  /* Change the background and text color of dropdown options on hover */
  .form-label select option:hover {
    background-color: #035a5a; /* Change the background color on hover */
    color: white; /* Change the text color on hover */
  }
  
  /* Container for the feedback form */
  .feedback-form-container {
    max-width: 700px;
    margin: 0 auto;
    border: 1px solid #181818;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
  }
  
  /* Adjust the space between form labels and inputs */
  .form-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  .feedback-details textarea,.improvement-suggestions textarea,
  .additional-comments textarea {
    width: 350px; /* Adjust the width as needed */
    height: 80px; /* Adjust the height as needed */
  }



/* Add any other CSS styles for your form components */

  
  /* Container for input elements */
  .input-container {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }
  
  /* Style the input fields */
  .input-container input {
    width: 300px;
  }
  
  /* Style the table header */
  .table th {
    background-color: #daefef;
  }
  
  .button-container {
    text-align: center; /* Center align the button */
  }

  button {
    background-color: #035a5a;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;

  }
  
  /* Change button background color on hover */
  button:hover {
    background-color: #25221f;
  }
  